.main-navigation {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 3.5rem;
  background-color: #01d1d1;
  padding: 0;
  display: flex;
  align-items: center;

  &__logo {

    h1 {
      margin: 0;
      font-size: 1.5rem;
      margin-left: 1.5rem;
    }
  }
  
  &__item {
    margin-left: 1.5rem;

    ul {
      margin: 0 0 0 1.5rem;
      padding: 0;
      display: flex;
      list-style: none;

      li {
        margin: 0 1rem;

        a {
          text-decoration: none;
          color: #000;
          
          &:hover, &:active, &.active {
            color: #e6e617;
          }
        }
      }
    }
  }
}